{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Upload</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" required><br><br>
    <textarea name="description" placeholder="Add a description (optional)"></textarea><br>
    <button type="submit">Post</button>
</form>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
